@import "../../styles/variables"; 

.button {
  width: 191px;
  margin-top: 22px;
  margin-bottom: 44px;
  padding: 14px 0;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid $color-yellow;
  border-radius: 40px;
  font-size: 22px;
  font-weight: 700;
  color: $color-yellow;

  @media (max-width: ($screen-md - 1)) {
    margin-bottom: 40px;
    padding: 7px 0;
    font-size: 16px;
  }

  &--primary {
    background-color: $color-yellow;
    border-color: transparent;
    color: $color-black;
  }

  &:hover {
    opacity: 0.6;
  }
}

  