@import "../../styles/variables"; 

.button {
  width: 191px;
  padding: 14px 0;
  font-size: 22px;
  font-weight: 700;
  border-radius: 40px;
  border: 2px solid $color-yellow;
  background-color: transparent;
  color: $color-yellow;
  cursor: pointer;
  margin-top: 22px;
  margin-bottom: 44px;

  @media(max-width: 768px) {
    font-size: 16px;
    padding: 7px 0;
    margin-bottom: 40px;
  }

  &--primary {
    border-color: transparent;
    color: $color-black;
    background-color: $color-yellow;
  }
}

  