@import "../../styles/variables"; 

.read-more {
  &__wrap {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: white;
    @media (max-width: ($screen-lg - 1)) {
      font-size: 16px;
    }

    @media (max-width: ($screen-md - 1)) {
      font-size: 14px;
    }

    .read-more__target {
      opacity: 0;
      max-height: 0;
      transition: .25s ease;
      font-size: 0;
      .read-more__state:checked ~ & {
        opacity: 1;
        max-height: 999em;
        font-size: inherit;
      }
    }

    .read-more__state ~ .read-more__trigger:before {
      content: 'Read more';
    }

    .read-more__state:checked ~ .read-more__trigger:before {
      content: 'Show less';
    }
  }

  &__trigger {
    display: inline-block;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: .25em;
    font-size: .9em;
    line-height: 2;
    color: yellow;
    &:before {
      content: 'Read more';
    }

    &:hover {
      opacity: 0.6;
    }
  }

  &__state:checked ~ &__trigger:before {
    content: 'Show less';
  }

  &__state {
    overflow: hidden;
    height: 0;
  }
}

