@import "../../styles/variables";

.header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: $color-black;

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &__nav {
    display: flex;
    gap: 50px;
    @media (max-width: ($screen-md - 1)) {
      display: none;
      flex-direction: column;
    }
  }

  &__nav-link {
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
  }

 &__menu {
   display: flex;
   gap: 50px;
   margin: 0;
   padding: 0;
   list-style-type: none;
    @media (max-width: ($screen-md - 1)) {
      flex-direction: column;
      align-items: center;
      padding-bottom: 20px;
    }
  } 

  &__menu-item {
    margin-right: 20px;
    font-size: 18px;

    &:hover,
    &:active {
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background: linear-gradient(98deg, #EBFF00 18.56%, #FF70D9 76.02%);
      background-clip: text;
    }
  }

  &__burger-menu {
    display: none;
    background-color: transparent;
    cursor: pointer;
    border: none;
    @media (max-width: ($screen-md - 1)) {
      display: block;
    }
  }

  &__nav--open {
    display: block;
    @media (max-width: ($screen-md - 1)) {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      padding: 10px;
      background-color: $color-black;
    }
  }

  &__menu--mobile {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__menu-item--mobile {
    margin-bottom: 10px;
    font-size: 18px;
  }

  &__burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
    &-line {
      width: 100%;
      height: 3px;
      background-color: white;
    }

    &--open {
      transform: rotate(90deg);
    }
  }

  &__cross {
    width: 24px;
    height: 24px;
    position: relative;

    .header__cross-line {
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #fff;
      top: 50%;
      left: 0;
      transform: translateY(-50%);

      &:first-child {
        transform: rotate(55deg);
      }

      &:last-child {
        transform: rotate(-55deg);
      }
    }
  }
}




