.footer {
  height: 127px;
  background-color: black;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
  }

  &__text {
    font-size: 18px;
    color: yellow;
  }
}