@import "../../styles/variables"; 

.hero {
  min-height: 100vh;
  background-image: linear-gradient(to right, #000, rgba(0, 0, 0, 0)), url('../../../public/bg-intro.jpg');
  background-position: center;
  background-size: cover;
  overflow: hidden;
  background-blend-mode: multiply;

  @media (max-width: ($screen-md - 1)) {
    min-height: 100%;
    // transform: translate(0, -38px);
  }

  &__wrap {
    position: relative;
    z-index: 1;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: $color-white;

    @media (max-width: ($screen-md - 1)) {
      flex-direction: column-reverse;
      justify-content: flex-end;
      gap: 30px;
      height: 100%;
      padding:0;
    }
  }

  &__text-section {
    width: 693px;
    display: flex;
    flex-direction: column;
    // margin-left: 20px;

    @media (max-width: ($screen-md - 1)) {
      width: 292px;
      align-items: center;
    }
  }

  &__title {
    font-size: 72px;
    font-weight: 800;
    line-height: 100%;
    
    span {
      color: $color-pink;
    }

    @media (max-width: ($screen-lg - 1)) {
      font-size: 48px;
    }

    @media (max-width: ($screen-md - 1)) {
      font-size: 36px;
    }
  }

  &__subtitle {
    font-size: 32px;
    font-weight: 800;
    line-height: 100%;
    padding-top: 22px;
    
    span {
      color: $color-yellow;
    }

    @media (max-width: ($screen-lg - 1)) {
      font-size: 22px;
    }

    @media (max-width: ($screen-md - 1)) {
      font-size: 16px;
    }
  }

  &__button {
    width: 191px;
    padding: 14px 0;
    font-size: 22px;
    font-weight: 700;
    border-radius: 40px;
    border-color: $color-yellow;
    color: $color-yellow;
    background-color: transparent;
    cursor: pointer;
    margin-top: 22px;
    margin-bottom: 44px;

    @media (max-width: ($screen-md - 1)) {
      font-size: 16px;
      padding: 7px 0;
    }
  }

  &__button--primary {
    border-color: transparent;
    color: $color-black;
    background-color: $color-yellow;
  }

  &__image {
    width: 327px;
    height: 367px;

    @media (max-width: ($screen-md - 1)) {
      width: 300px;
      height: 336px;
    }

    @media (min-width: 768px) and (max-width: 1024px) {
      transform: translate(92px, 0);
    }
  }
}



