.offers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 1248px) {
    grid-template-columns: 1fr 1fr;
  }
}

.offers__item {
  height: 350px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;

  &--full-width {
    grid-column: span 2;
  }

  &__item-title {
    margin: 0;
  }
}
