@import "../../styles/variables"; 

.offers {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;

  &__wrap {
    background: linear-gradient(196deg, #0D1E48 0%, #304571 100%);
  }

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }

  &__title {
    padding: 58px 0 40px 0;
    color: $color-white;
  }

  &__item {
    height: 350px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(15, 20, 32, 0.79) 100%);

    @media (min-width: 1248px) {
      &--full-width {
        grid-column: span 2;
      }
    }

    &-title {
      margin: 0;
    }

    &--offer1 {
      background-image: url('../../../public/images/card-bg1.jpg');
      background-position: center;
      background-size: cover;
    }

    &--offer2 {
      background-image: url('../../../public/images/card-bg2.jpg');
      background-size: cover;
      background-position: center;
    }

    &--offer3 {
      background-image: url('../../../public/images/card-bg3.jpg');
      background-position: center;
      background-size: cover;
    }

    &--offer4 {
      background-image: url('../../../public/images/card-bg4.jpg');
      background-position: center;
      background-size: cover;
    }
  }
}
